<a href="https://colab.research.google.com/github/Pravallikavyas/Placement-Bootcamp-Data-Analyst-/blob/main/Python_(PlacementBootcamp).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Variables and Datatypes**

In [10]:
name='Pravallika'
print(name)

Pravallika

In [11]:
num1=8
num2=10
result=num1+num2
print(result)

18

In [12]:
sentence='I love my Parents'
print(len(sentence))

17

In [13]:
pi=3.14159
print(round(pi,2))

3.14

**Conditional Statements and Loops**

In [ ]:
number=int(input( ))
if(number>0):
  print('Positive number')
elif(number<0):
  print('Negative number')
elif(number==0):
  print('Zero')

-5
Negative number

In [ ]:
def even():
  for i in range(1,21,1):
    if(i%2==0):
      print(i)
even()

2
4
6
8
10
12
14
16
18
20

In [ ]:
number=int(input( ))
sum=0
for i in range(1,number,1):
  if(i%1==0 and number%i==0):
    sum=sum+1
if(sum==1):
  print("Prime number")
else:
  print("Not a prime number")

193
Prime number

**Functions**

In [ ]:
def calculate_average(a,b,c):
  avg=(a+b+c)/3
  print(avg)
calculate_average(2,3,8)

4.333333333333333

In [ ]:
def is_palindrome(str1):
  l1=list(str1)
  if(l1[ : :-1]==l1):
    return True
  else:
    return False
a=input(" ")
is_palindrome(a)

 baab

True

In [ ]:
def factorial(n):
  fact=1
  if(n==0 or n==1):
    return 1
  else:
    for i in range(1,n+1,1):
      fact=fact*i
    return fact
n=int(input())
factorial(n)

0

1

In [ ]:
res=[]
def print_fibonacci(n):
   first=1
   second=2
   res.append(first)
   res.append(second)
   for i in range(n-2):
     third=first+second
     first=second
     second=third
     res.append(third)
   print(*res)
no=int(input( ))
print_fibonacci(no)

8
1 2 3 5 8 13 21 34

**Lists and Dictionaries**

In [ ]:
li=list(map(int,input().split(" ")))
print(li)

1 2 3 4 5 6 7 8 9 10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
Names=[]
for i in range(5):
  name=input(" ")
  Names.append(name)
print(Names)

 Ramana
 Sridevi
 Venkat
 Jahnavi
 Pardheev
['Ramana', 'Sridevi', 'Venkat', 'Jahnavi', 'Pardheev']

In [ ]:
d={"name":"Pravallika","age":26,"grade":'S'}
print(d)

{'name': 'Pravallika', 'age': 26, 'grade': 'S'}

In [9]:
s=input()
l=list(s)
d1={}
v=[]
k=[]
index=0
for i in l:
  d1['key']=i
  k.append(d1['key'])
  d1['value']=l.count(i)
  v.append(d1['value'])
d=zip(k,v)
print(d)
print(dict(d))

pravarsha
<zip object at 0x786de5bdc880>
{'p': 1, 'r': 2, 'a': 3, 'v': 1, 's': 1, 'h': 1}